.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --white-text-color: #ffffff;
  --secondary-bg-color: #F5F4FA;
  --third-bg-color: hsl(235, 10%, 21%);
  --media-color: #AFB1B8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

body.moddal-open {
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.logo {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

/* *****SOCIAL -NETWORK - LIST**** */
.social-network,
.social-link {
  display: flex;
  justify-content: center;
}

.social-network-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus, .social-link:hover {
  background-color: var(--accent-color);
}

.social-link:focus .network-icon, .social-link:hover .network-icon {
  fill: var(--white-text-color);
}

.network-icon {
  width: 20px;
  height: 20px;
  fill: var(--media-color);
}

/* *****SOCIAL -NETWORK - LIST - END**** */
.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* z-index: 7; */
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  transition-delay: 0.4s;
}

.backdrop.is-hidden .modal {
  transform: translateY(-100%) scale(0.3);
  transition-delay: 0.1s;
  opacity: 0;
}

@media screen and (min-width: 480px) {
  .backdrop {
    padding: 93px 15px;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px;
  }
}

@media screen and (min-width: 1199px) {
  .backdrop {
    padding-top: 221px;
  }
}

.modal-window-cover {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal {
  position: relative;
  min-height: 581px;
  max-width: 528px;
  width: 100%;
  opacity: 1;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: all .3s linear;
}

.modal .title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
}

@media screen and (max-width: 1199px) {
  .modal .title {
    line-height: 1.5;
  }
}

@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    min-height: 609px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  fill: #000000;
  background-color: var(--white-text-color);
}

.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  height: 40px;
  padding-left: 42px;
}

.modal-form-comment {
  padding: 12px 16px;
  min-height: 120px;
  resize: none;
}

.modal-form-massage {
  margin-bottom: 20px;
}

.modal-form-input,
.modal-form-comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-input:focus, .modal-form-input:hover,
.modal-form-comment:focus,
.modal-form-comment:hover {
  cursor: pointer;
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-field:hover .modal-form-pick,
.modal-form-field:focus .modal-form-pick {
  fill: var(--accent-color);
}

.modal-form-pick {
  position: absolute;
  top: 0;
  left: 0;
  margin: 11px 12px;
}

.modal-form-input:focus ~ .modal-form-pick {
  fill: var(--accent-color);
}

.modal-form-items-title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form-label-check {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-label-check::before {
  content: "";
  display: block;
  cursor: pointer;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
}

.modal-form-check:checked + .modal-form-label-check::before {
  border-color: var(--accent-color);
  background-image: url(../images/svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.confirmation {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  transition: transform 250ms linear;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1199px) {
  .confirmation {
    font-size: 12px;
    line-height: 1.167;
  }
}

.confirmation-agreement {
  text-decoration: underline;
  color: var(--accent-color);
}

.access-button .button-primary {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.menu-btn {
  display: inline-flex;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu-btn:focus {
  fill: var(--accent-color);
}

.menu-btn .close-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn.is-open .open-btn {
  display: none;
}

.menu-btn.is-open .close-btn {
  display: block;
  fill: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .burger-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .burger-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
  min-height: 60px;
}

@media screen and (min-width: 768px) {
  .page-header {
    min-height: 80px;
  }
}

.header-parts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header-parts {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.page-header-nav {
  display: flex;
  align-items: center;
}

.logo-header {
  color: var(--primary-text-color);
}

.site-nav {
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.site-nav .link {
  display: block;
  position: relative;
  width: max-content;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
}

.site-nav .link:hover, .site-nav .link:focus, .site-nav .link.current {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .site-nav {
    font-size: 18px;
    line-height: 1.167;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 88px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav .link:hover::after,
.site-nav .link:focus::after,
.site-nav .link.current::after {
  opacity: 1;
}

.site-nav-item .link::after {
  display: block;
  position: absolute;
  content: "";
  opacity: 0;
  margin-top: 8px;
  width: 100%;
  height: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #2196F3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .site-nav-item .link::after {
    margin-top: 29px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 767px) {
  .site-nav-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.site-nav-item .link {
  margin: 0 auto;
}

.contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts {
    align-items: center;
    display: flex;
  }
}

.header-address {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .header-address-list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header-address-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header-address-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-address-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.header-address .contacts {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-address .contacts:hover, .header-address .contacts:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header-address .contacts {
    font-size: 18px;
    line-height: 1.167;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-address .contacts {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .header-address .contacts {
    font-size: 14px;
    line-height: 1.143;
  }
}

.contact-pick {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--secondary-text-color);
}

.contacts:hover .contact-pick,
.contacts:focus .contact-pick {
  fill: var(--accent-color);
}

/********** HERO ***********/
.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  background-color: var(--third-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-mobile1x.jpg);
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    max-width: 1600px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-tablet1x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-desktop1x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-desktop@2x.jpg);
  }
}

.hero-items {
  padding: 0 15px;
  text-align: center;
  margin: auto;
}

.hero-title {
  margin: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.button-primary {
  display: inline-flex;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover, .button-primary:focus {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.advantages-list {
  display: block;
}

.advantages-list p {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin: 0px;
  padding: 0px;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages-item::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
}

@media screen and (max-width: 1199px) {
  .advantages-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-item {
    width: calc((100% - 30px) / 2);
  }
  .advantages-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-item {
    width: calc((100% - 90px) / 4);
  }
  .advantages-item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .advantages-title {
    text-align: left;
  }
}

.advantages-item:nth-child(1)::before {
  background-image: url(../images/advantages/antenna.svg);
}

.advantages-item:nth-child(2)::before {
  background-image: url(../images/advantages/clock.svg);
}

.advantages-item:nth-child(3)::before {
  background-image: url(../images/advantages/diagram.svg);
}

.advantages-item:nth-child(4)::before {
  background-image: url(../images/advantages/astronaut.svg);
}

.features {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .features {
    display: none;
  }
}

.features-list {
  display: flex;
}

.features-item {
  position: relative;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.features-overlay {
  position: absolute;
  width: 100%;
  min-height: 70px;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: var(--secondary-bg-color);
}

.team-cards {
  text-align: center;
}

.team-cards p {
  margin-bottom: 16px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-cards img {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-mamber {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.social-network .social-network-item {
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .social-network .social-network-item {
    margin-bottom: 30px;
  }
}

.team-cards-item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .team-cards-item {
    width: calc((100% - 30px) / 2);
  }
  .team-cards-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team-cards-item:nth-child(2n + 1):nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .team-cards-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-cards-item {
    width: calc((100% - 90px) / 4);
  }
  .team-cards-item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients-link {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .clients-link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}

.clients-link {
  height: 90px;
  border: 1px solid var(--media-color);
  border-radius: 4px;
  background-color: var(--white-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  background-color: var(--white-text-color);
}

.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-icon {
  width: 100%;
  height: 90px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--media-color);
}

.clients-item a:hover,
.clients-item a:focus {
  border-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .clients-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    margin-right: 30px;
  }
  .clients-item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-item {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .clients-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    margin-bottom: 0;
  }
}

.footer {
  margin: 0 auto;
  background-color: var(--third-bg-color);
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

.logo-footer {
  color: var(--white-text-color);
}

.first-footer-column {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .first-footer-column {
    text-align: left;
    margin-right: 70px;
  }
}

.footer-address {
  margin-top: 20px;
}

.footer-address p,
.footer-address .contacts {
  margin: 0;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.footer-address .contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address .contacts:hover, .footer-address .contacts:focus {
  color: var(--accent-color);
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.second-footer-column p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--white-text-color);
}

@media screen and (max-width: 1199px) {
  .second-footer-column p {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .second-footer-column p {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .second-footer-column {
    margin-top: 60px;
  }
}

/* *****FOOTER-MEDIA ****/
.second-footer-column .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.second-footer-column .network-icon {
  fill: var(--white-text-color);
}

.footer-media .social-link:hover,
.footer-media .social-link:focus {
  background-color: var(--accent-color);
}

.second-footer-column .social-network-item {
  margin-bottom: 0;
}

/* 3rd column */
@media screen and (max-width: 1199px) {
  .third-footer-column {
    padding-top: 60px;
  }
}

.third-footer-column p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--white-text-color);
}

@media screen and (min-width: 1200px) {
  .third-footer-column p {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .third-footer-column {
    margin-left: 93px;
  }
}

.footer-form-subscription {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form-subscription {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.subscription-input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--third-bg-color);
  color: var(--white-text-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .subscription-input {
    margin-right: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .subscription-input {
    width: 100%;
  }
}

.subscription-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription-button {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border: 1px solid transparent;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
}

.subscription-button:hover, .subscription-button:focus {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  fill: var(--accent-color);
}

.subscription-button:hover .form-subscription-icon, .subscription-button:focus .form-subscription-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .subscription-button {
    margin-top: 0;
  }
}

.form-button-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form-subscription-icon {
  margin-left: 10px;
  fill: var(--white-text-color);
}
/*# sourceMappingURL=main.css.map */