/* 3rd column */
.third-footer-column {
  margin-left: 93px;
    & p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 20px;
  
  color: var(--white-text-color);
}
}
.footer-form-subscription {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.subscription-input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: var(--third-bg-color);
  
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscription-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: 1px solid transparent;
  color: var(--white-text-color);

  background-color: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;

    &:hover,
    &:focus {
      color: var(--primary-text-color);
      background-color: var(--secondary-bg-color);
      fill: var(--accent-color);

        & .form-subscription-icon {
            fill: var(--accent-color);
      }
    }
  }
.form-subscription-icon {
  margin-left: 10px;
  fill: var(--white-text-color);
}
