// .second-footer-column p {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   margin-top: 0;
//   margin-bottom: 20px;
  
//   color: var(--white-text-color);
// }
// /* *****FOOTER-MEDIA ****/
// .second-footer-column .social-link {
//   background-color: rgba(255, 255, 255, 0.1);
// }
// .second-footer-column .network-icon {
//   fill: var(--white-text-color);
// }
// .footer-media .social-link:hover,
// .footer-media .social-link:focus {
//   background-color: var(--accent-color);
// }
// .second-footer-column .social-network-item {
//   margin-bottom: 0;
// }
