/********** HERO ***********/
.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  min-height: 400px;

  background-color: var(--third-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    @media screen and (min-width: 1200px) {
      min-height: 600px;
      max-width: 1600px;
    }
  
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url(../images/header/header-mobile@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url(../images/header/header-mobile1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url(../images/header/header-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url(../images/header/header-tablet1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url(../images/header/header-desktop@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url(../images/header/header-desktop1x.jpg);
  }
}
.hero-items {
  max-width: 696px;
  padding: 0 15px;
  text-align: center;
  margin: auto;
}
.hero-title {
  margin: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text-color);

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.364;
    }
}

.button-primary {
  display: inline-flex;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
    
  color: var(--white-text-color);
  background-color: var(--accent-color);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--primary-text-color);
      background-color: var(--secondary-bg-color);
}
}

/********** HERO END ***********/