// .projects-title {
//   margin: 0;
//   margin-bottom: 4px;

//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
// }
// .projects {
//   display: flex;
//   flex-wrap: wrap;

//   &  p {
//     margin: 0;
//     font-size: 16px;
//     line-height: 1.875;
//     letter-spacing: 0.03em;
  
//     color: var(--secondary-text-color);
//   }
// }

// .projects-item {
//   position: relative;
//   overflow: hidden;
//   width: calc((100% - 60px) / 3);
  
//   margin-bottom: 30px;
//   margin-right: 30px;

//     &:hover,
//     &:focus {
//       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
//       0px 4px 4px rgba(0, 0, 0, 0.06),
//         1px 4px 6px rgba(0, 0, 0, 0.16);

//         & .projects-overlay-text {
//           transform: translateY(0);
//           opacity: 1;
//     }
//   }
// }

// .projects-link {
//   color: var(--primary-text-color);
// }
// .projects-item:nth-child(3n) {
//   margin-right: 0px;
// }
// .projects-item:nth-last-child(-n+3) {
//   margin-bottom: 0px;
// }
// .projects-column {
//   text-decoration: none;
//   text-align: left;

//   padding: 20px 24px;
//   border: 1px solid #EEEEEE;
// }
// .projects-overlay-text {
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   opacity: 0;

//   padding: 63px 24px;

//   font-size: 18px;
//   line-height: 1.555;
//   letter-spacing: 0.03em;

//   color: var(--white-text-color);
//   background-color: rgba(33, 150, 243, 0.9);

//   transform: translateY(100%);
//   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .projects-overlay {
//   position: relative;
//   height: 294px;
//   overflow: hidden;
// }