// .radio-btn {
//   margin-bottom: 50px;
//   text-align: center;
//     & a {
//       font-weight: 500;
//       font-size: 16px;
//       line-height: 1.625;
//       letter-spacing: 0.03em;
//     }
// }

// .filter-btn {
//   display: inline-block;

//   padding: 6px 22px;

//   text-decoration: none;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.625;
//   letter-spacing: 0.03em;

//   border: 1px solid transparent;
//   border-radius: 4px;

//   color: var(--primary-text-color);
//   background-color: var(--secondary-bg-color);

//   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//       color: var(--white-text-color);
//       background-color: var(--accent-color);
//   }
// }

// .filter-btn:not(:last-child) {
//   margin-right: 8px;
// }