.our-team {
  background-color: var(--secondary-bg-color);
}
.team-cards {
  text-align: center;

  & p {
    margin-bottom: 16px;
    margin-top: 0px;
  
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
  
    color: var(--secondary-text-color);
  }
  & img {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-mamber {
  margin-bottom: 10px;
  margin-top: 0px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;

  letter-spacing: 0.03em;
}
.social-network .social-network-item {
    margin-bottom: 24px;
  
      @media screen and (min-width:1200px) {
        margin-bottom: 30px;
    }
  }   
.team-cards-item {
  width: 100%;
  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
   0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: #FFFFFF;

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
      &:nth-child(2n + 1) {
        margin-right: 30px;
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }
  &:not(:last-child) {
      @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
  }
}
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
        &:not(:last-child) {
           margin-right: 30px;
  }
 }
}