:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --white-text-color: #ffffff;
  --secondary-bg-color: #F5F4FA;
  --third-bg-color: #2F303A;
  --media-color: #AFB1B8;
}